h2.section-title {
    font-size: 1.8rem;
}

a.text-body:hover,
a.text-body:focus {
    color: dimgray !important;
}

.pb-7 {
    padding-bottom: 7.5rem !important;
}

.mt-n7 {
    margin-top: -6rem !important;
}

.post-container {
    padding: 2.8rem 3rem 2.8rem;
}

.form-control:focus {
    border-color: #ef4444;
    box-shadow: 0 0 0 0.125rem rgba(239, 68, 68, 0.25);
}

.form-range {
    --form-range-thumb-bg: #ef4444;
}

.navbar-nav-link.active,
.navbar-nav-link.show,
.navbar-nav-link[aria-expanded="true"] {
    color: #252b36;
    background-color: #f3f4f6;
    font-weight: 600;
}

.nav-tabs-underline .nav-link.active::before,
.daterangepicker td.active:not(.off),
.daterangepicker td.active:not(.off):hover {
    background-color: #ef4444;
}

.main-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

@media (min-width: 1200px) {
    .display-7 {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .w-lg-120px {
        width: 120px !important;
    }
}

.start-5 {
    left: 5px !important;
}

.overlay::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(37,43,54,0.7);
    z-index: 2;
}

.lift {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translateY(0);
    transition: all .3s ease;
}

.lift:hover {
    transform: translateY(-.4rem);
    box-shadow: 0 .25rem 1.25rem rgba(52,63,82,.1);
}

.text-handwriting {
    font-family: 'Kaushan Script', cursive;
}

.bg-opacity-3 {
    --bg-opacity: 0.03;
}

.bg-opacity-85 {
    --bg-opacity: 0.85;
}

.h-250 {
    height: 250px;
}

.h-450 {
    height: 450px;
}

.wh-100 {
    width: 100px;
    height: 100px;
}

.object-fit-cover {
    object-fit: cover;
}

.scrollable {
    max-height: 32.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.active > .page-link, .page-link.active {
    background-color: #ef4444;
    border-color: #ef4444;
}

.tns-nav {
    text-align: center;
    margin: 10px 0;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav > .tns-nav-active {
    background: #999;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer;
}
